<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
            * {
                margin: 0;
            }
            body {
                font-family: sans-serif;
                font-size: 1.1em;
            }
            header {
                padding: 3rem;
                background: #0678BE;
            }
            main {
                margin: 3rem;
                max-width: 800px;
            }
            aside {
                font-size: 0.95rem;
            }
            p {
                line-height: 1.75rem;
                color: rgba(0,0,0,0.7);
                margin-bottom: 1em;
            }
            a {
                text-decoration: none;
                color: rgba(0,0,0,0.9);
            }
            h1 {
                color: rgb(255,255,255);
                text-shadow: 1px 1px 0px rgba(0,0,0,0.35);
            }
            h2 {
                color: rgba(0,0,0,0.65);
                margin-bottom: 1rem;
            }
            h3 {
                color: rgba(0,0,0,0.65);
                margin: 3rem 0 1rem 0;
            }
            h4 {
                color: rgba(0,0,0,0.35);
                font-weight: normal;
                margin-bottom: 1rem;
            }
            h4 a {
                color: rgba(0,0,0,0.75);
            }
        </style>
    </head>
    <body>
        <div id="app"></div>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/jsonapi-parse"></script>
        <script src="https://unpkg.com/moment"></script>
        <script src="/themes/custom/example_vue/src/main.js" type="module"></script>
    </body>
</html>
