<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Muli:400,800" rel="stylesheet">
        <style>
            body {
                font-family: sans-serif;
                margin: 3rem;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>
        <script src="https://unpkg.com/jquery"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/jsonapi-parse"></script>
        <script src="/themes/custom/example_js1/src/main.js" type="module"></script>
    </body>
</html>
